<div class="login">
  <form class="login__card" [formGroup]="form" (ngSubmit)="submit()" novalidate>
    <h1 class="login__title">Logon to Zidium</h1>

    <div class="login__field">
      <label for="login">Login</label>
      <input
        pInputText
        id="login"
        formControlName="login"
        autocomplete="username"
        [class.ng-invalid]="showError('login')"
        [class.ng-dirty]="showError('login')"
      />
      @if (showError('login')) {
        <small class="login__error">Field is required</small>
      }
    </div>

    <div class="login__field">
      <label for="password">Password</label>
      <input
        pInputText
        id="password"
        type="password"
        formControlName="password"
        autocomplete="current-password"
        [class.ng-invalid]="showError('password')"
        [class.ng-dirty]="showError('password')"
      />
      @if (showError('password')) {
        <small class="login__error">Field is required</small>
      }
    </div>

    @if (serverError(); as error) {
      <p class="login__error login__error--server">{{ error }}</p>
    }

    <div class="login__actions">
      <p-button type="submit" label="Logon" [loading]="submitting()" />
    </div>
  </form>
</div>
